html {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,16,42,1) 39%, rgba(5,32,78,1) 100%);
}
body {
	font-family: monospace;
	margin: 0;
	color: #dfdfdf;
}
h1 {
	color: #fff;
	text-align: center;
	margin: 2rem 0;
}
#url-textarea {
	width: 100%;
	height: 50vh;
	font-size: 1vh;
}
#download-btn {
	margin-top: 1vh;
	width: 100%;
	height: 5vh;
	font-size: 1.5vh;
}
#settings-box {
	margin-top: 1vh;
}
#settings-box * {
	margin-bottom: 1vh;
}
label {
	margin-bottom: 1vh;
	font-size: 1.5vh;
}
input {
	font-size: 1.5vh;
}
.queue-item {
	width: 100%;
	height: auto;
	min-height: 4vh;
	display: grid;
	grid-template-columns: 50px 1fr;
	align-items: center;
	background-color: #ffffff12;
	margin-bottom: 1vh;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
	position: relative;
}
.queue-item:hover {
	transform: scale(0.99);
}
.download-indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 0%;
	background-color: #3cb371;
	box-shadow: 0px 0px 5px #3cb371;
	z-index: 1;
	transition: all 0.05s ease;
}
.queue-item-number {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 3vh;
	background-color: #ffffff0d;
	color: #fff;
	font-weight: bold;
	font-size: 1.5vh;
	border-radius: 3px;
	min-width: 3vh;
}
.queue-item-text {
	margin-left: 20px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	white-space: pre-wrap;
	font-size: 1.5vh;
}
.container {
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-template-rows: 100%;
	height: 100%;
}
.left-panel {
	background: rgb(16 6 34);
    background: linear-gradient(90deg, rgba(34,10,75,0.49763655462184875) 0%, rgba(1,16,42,0) 39%, rgba(5,32,78,0.520045518207283) 100%);
	padding: 2vh;
}
.right-panel {
	padding: 15px;
	overflow-wrap: break-word;
	word-break: break-all;
	box-sizing: border-box;
	overflow: auto;
}
@media screen and (max-width: 768px), (orientation: portrait) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}
  
	.left-panel {
		order: 1;
		max-width: none;
		height: fit-content;
	}
  
	.right-panel {
		order: 2;
		width: 100%;
	}
}
#ratelimit-timeout-input {
	display: none;
}
label[for="ratelimit-timeout"] {
	display: none;
}
.github-tag {
	font-size: small;
	color: #ffffff24;
	font-size: 1.5vh;
}