textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #ffffff1c;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
textarea:hover {
  background-color: #ffffff30;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
background-color: #ffffff1c;
}
::-webkit-scrollbar-thumb {
  background-color: #adadad53;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ffffff1c;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
button:hover {
  background-color: #ffffff30;
}
button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
button:active {
  transform: translateY(1px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
/* Input Text and Number */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #ffffff1c;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
input[type="text"]:hover,
input[type="number"]:hover {
  background-color: #ffffff30;
}
input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
/* Radio Buttons */
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #ffffff1c;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s ease;
}
input[type="radio"]:checked + label {
  background-color: #ffffff30;
}
select {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #fff;
 background-color: #ffffff1c;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;
    utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path fill='%23ffffff' d='M6 10L16 22 26 10z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  transition: all 0.1s ease;
}
select:hover {
  background-color: #ffffff30;
}
select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}